<!--Child-->

<form [formGroup]="loginForm">
  <h3>Hell-0, let's try Login, using Angular</h3>
  <br />
  <div>
    <label for="username">Username</label>
    <input
      required
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      placeholder="Enter your username"
      formControlName="username"
      minlength="3"
      maxlength="12"
    />
  </div>
  <div
    class="info"
    *ngIf="username.invalid && (username.dirty || username.touched)">
    <i *ngIf="username.errors.required">Username is required.</i>
    <i *ngIf="username.errors.minlength"
      >Username must be atleast 3 characters.</i
    >
 
  </div>

  <div>
    <label for="password">Password</label>
    <input
      required
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      formControlName="password"
      minlength="6"
      maxlength="12"
    />
  </div>
  <div
    class="info"
    *ngIf="password.invalid && (password.dirty || password.touched)"
  >
    <i *ngIf="password.errors.required">password is required.</i>
    <i *ngIf="password.errors.minlength"
      >password must be atleast 6 characters.</i
    >
  </div>
  <button 
  type="button"
  [disabled]="loginForm.invalid"
  (click)="onLoginClicked()">Login</button>

  <h2 *ngIf="loginMessage">{{ loginMessage }}</h2>
  <h4 *ngIf="loginError">{{ loginError }}</h4>

  <!--redir /register-->
  <a href="/register">"I should register before I login"</a>
</form>
