<!--Child-->

<form [formGroup]="registerForm">
  <h3>Hell-0, let's try Register, using Angular</h3>
  <br />
  <div>
    <label for="username">Username</label>
    <input
      required
      type="text"
      id="username"
      name="username"
      pattern="[a-zA-Z]*"
      autocomplete="new-username"
      minlength="3"
      maxlength="12"
      placeholder="Input desired username"
      formControlName="username"
    />
    <div
      class="info"
      *ngIf="username.invalid && (username.dirty || username.touched)"
    >
      <i *ngIf="username.errors.required">Username is required</i>
      <i *ngIf="username.errors.minlength"
        >Username must be atleast 3 letters</i
      >
      <i *ngIf="username.errors.pattern">Username can only contain letters</i>
      <i *ngIf="username.errors.maxlength"
        >NOTICE: 12 letters is max for username</i
      >
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input
      required
      type="password"
      id="password"
      name="password"
      autocomplete="new-password"
      placeholder="Input desired password"
      formControlName="password"
      minlength="6"
      maxlength="12"
    />
    <div
      class="info"
      *ngIf="password.invalid && (password.dirty || password.touched)"
    >
      <i *ngIf="password.errors.required">password is required.</i>
      <i *ngIf="password.errors.minlength"
        >password must be atleast 6 characters.</i
      >
      <i *ngIf="password.errors.maxlength"
        >NOTICE: Passwords can not be more than 12 characters</i
      >
    </div>
  </div>

  <div>
    <label for="confirm">Confirm Your Password</label>
    <input
      required
      type="password"
      id="confirm"
      name="confirm"
      placeholder="Confirm password input"
      autocomplete="new-password"
      formControlName="confirm"
    />
    <!--Confirm password + simple "I'm not a robot"-->
    <div
      class="info"
      *ngIf="password.valid && confirm.value === password.value"
    >
      <label for="register-check">Ready to register</label>
      <input
        type="checkbox"
        id="register-check"
        [checked]="showRegister"
        (click)="toggleRegister()"
      />
      <!-- ( [disabled]="registerForm.invalid" ) Removed until fix for maxlength-validator-message -->
    </div>
    <!--Shows during registration-->
    <div class="info" *ngIf="isLoading">
      <h3>Registering your acccount...</h3>
    </div>
  </div>

  <button
    id="register"
    *ngIf="showRegister"
    type="button"
    (click)="onRegisterClicked()"
  >
    <!-- ( [disabled]="registerForm.invalid" ) Removed until fix for maxlength-validator-message -->
    Register here
  </button>
  <h2 *ngIf="registerMessage">{{ registerMessage }}</h2>
  <h4 *ngIf="registerError">{{ registerError }}</h4>
  <!--/login-->
  <a href="/login">"I'm registered already"</a>
</form>
