/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono&display=swap");

/* app-root {

} */

body {
  font-variant: small-caps;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, "Open Sans Condensed", sans-serif;
  background: #1a353c;
  color: #f6e088ca;
  font-size: 1.8vw;
  border: 0.4rem double goldenrod;
  border-radius: 2em / 33%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Validator + Message -errors*/
h4,
i {
  font-size: small;
  color: #fcadad;
}
/*Info/Messages - Positive*/
h2 {
  color: #3bf02f;
  font-size: inherit;
}

h3,
::placeholder,
a {
  color: goldenrod;
  font-variant: small-caps;
}
a {
  font-size: 1.5vw;
  position: relative;
  bottom: -1em;
}

form,
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 0.5rem double goldenrod;
  border-radius: 2em / 33%;
}
/*Added class info to only-message-*ngIf-divs*/
.info {
  border: 0;
  padding: 0;
}
/* Username, Password*/
input {
  font: inherit;
  font-size: 0.9rem;
  border-width: 2px;
  color: #f6e088ca;
  background: transparent;
  text-align: center;
  border-style: dotted;
}

/*Checkbox*/
input[type="checkbox" i] {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border-radius: 2em / 33%;
  vertical-align: middle;
  border: 3px ridge goldenrod;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
/*Checkbox*/
input:checked {
  background-color: goldenrod;
}

/*Button*/
button,
#register {
  font-variant: small-caps;
  font-size: 1.2em;
  background: transparent;
  color: #f6e088ca;
  border-radius: 2em / 33%;
  border: 0.4rem double goldenrod;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}
